
.form-validate {
    width: 400px;
    height: 340px;
    background-color: green;
    margin: auto;
    margin-top: 10px;
    box-shadow: 8px 15px 40px #000;
    padding: 40px 105px;
    border-top: 4px solid ;
}